@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


.guidelines {
    background-color: #E8F9FD;
    font-family: 'Montserrat', sans-serif;
}

a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.guidelines .container {
    min-height: 100vh;
    margin-left: 10rem;
    padding-top: 8rem;
    margin-top: -7rem;
}

h1 {
    font-size: 5rem;
}

.entities {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 10rem;
    margin-left: 14rem;
}

.entity {
    background-color: white;
    padding: 3rem;
    text-align: center;
    margin: 4rem;
}

.entity img {
    width: 110px;
    height: 110px;
}

.entity h2 {
    margin-top: 1.5rem;
}

.entity-info {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    margin-left: -10rem;
}

.participants {
    background-color: #D2E2E4;
    padding-bottom: 4rem;
    padding-top: 8rem;
    padding-left: 10rem;
}

.participants h2 {
    font-size: 5rem;
}

.participants p {
    font-size: 2.5rem;
}

.participants h3 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.guidelines .info {
    /* margin-right: 5rem; */
    background-color: white;
    padding: 5rem;
    border-radius: 50px;
    width: 600px;
    line-height: 3rem;
}

.participants .read {
    margin-left: calc(50% - 12rem);
}

.mentor {
    background-color: #E8F9FD;
}