.project-card {
    background-color: #F9FCFC;
    border: 4px solid  #85C8D1;
    border-radius: 20px;
    width: 60%;
    padding: 35px;
}

.project-header {
    display: flex;
    justify-content: space-between;
}

.project-header h3 {
    margin: 2px;
}

.project-card .details {
    display: flex;
    gap: 8rem;
}

.project-card h3 {
    font-size: 2.4rem;
}

.project-card .project-title {
    margin: 20px 0;
}

.project-card .link {
    border-radius: 5px;
    background-color: #DEE4E5;
    padding: 12px;
}

.project-card li {
    font-size: 2rem;
    margin-left: 0rem;
}

.project-card .domain {
    margin-top: 3rem;
}

.project-card p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    font-size: 2rem;
    margin-top: 15px;
}